// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body {
  font-family: 'Source Sans Pro', sans-serif;
}

.badge {
  border-radius: 100% !important;
  background-color: #2b2692 !important;
}

.bg-blue {
  background: #0e4ecc;
}

.label {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
}

.label-danger {
  background-color: #f04124;
}

.label-success {
  background-color: $success;
}

.pointer-on-hover:hover {
  cursor: pointer;
  background: #dcdee0 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.active a{
  background: #1540ba !important;
}

.nav-link {
  padding: .8rem 1.1rem !important;
  &:hover {
    background: #1540ba !important;
  }
}

.navbar {
  padding: 0;
}

.pagination {
  justify-content: center;
}

